div {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
  }
  h1 {
      color: #5833FF;
      font-family: Arial, Helvetica, sans-serif;
  }
  .content-table { 
    border-collapse: collapse; 
    margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}
.content-table thead tr { 
    background-color: #7E71B8; 
    color: #FCEFE4; 
    text-align: middle; 
}
.content-table tbody tr { border-bottom: 1px solid #dddddd; }
